<h2 class="page-title"><%= Message.model_name.human(count: 2) %></h2>

<div class="card mt-4">
  <div class="card-status-top bg-azure"></div>

  <div class="card-header">
    <%= form_with url: messages_path, method: :get, local: true, class: "w-100" do |f| %>
      <div class="d-flex justify-content-between overflow-y-auto">
        <div class="d-flex gap-2 align-items-end">
          <div class="form-group">
            <%= f.label :occurred_at_start, t("custom.message.occurred_at_start"), class: 'form-label-small' %>
            <%= f.date_field :occurred_at_start, value: params[:occurred_at_start], class: 'form-control form-control-sm' %>
          </div>

          <div class="form-group">
            <%= f.label :occurred_at_end, t("custom.message.occurred_at_end"), class: 'form-label-small' %>
            <%= f.date_field :occurred_at_end, value: params[:occurred_at_end], class: 'form-control form-control-sm' %>
          </div>

          <div class="form-group">
            <%= f.label :app_id, App.model_name.human(), class: 'form-label-small' %>
            <%= f.select :app_id, options_from_collection_for_select(@apps, :id, :name, params[:app_id]), { include_blank: t("custom.app.all_apps") }, class: 'form-select form-select-sm' %>
          </div>

          <div class="form-group">
            <%= f.label :level, Message.human_attribute_name(:level), class: 'form-label-small' %>
            <%= f.select :level, options_for_select([[t("custom.message.all_levels"), ''], ['Error', 'error'], ['Warning', 'warning'], ['Info', 'info']], params[:level]), {}, class: 'form-select form-select-sm' %>
          </div>

          <div class="form-group">
            <%= f.submit t("general.filter"), class: 'btn btn-azure' %>
          </div>
        </div>
        <div class="d-flex gap-2 align-items-end">
          <div class="input-icon">
            <span class="input-icon-addon">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
            </span>
            <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: t("general.search") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="table-responsive">
    <table class="table table-vcenter card-table">
      <thead>
        <tr>
          <th><%= Message.human_attribute_name(:occurred_at) %></th>
          <th><%= App.model_name.human %></th>
          <th><%= Message.human_attribute_name(:level) %></th>
          <th><%= Message.human_attribute_name(:message) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @messages.each_with_index do |message, index| %>
          <tr>
            <td><%= format_datetime(message.occurred_at) %></td>
            <td>
              <%= link_to message.app.name, edit_app_path(message.app), class: 'link' %>
            <td>
              <span class="<%= level_class(message) %>">
                <%= message.level %>
              </span>
            </td>
            <td><%= message.message %></td>
            <td class="text-end">
              <%= link_to t("general.view"), message_path(message), class: 'link' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @messages, window: 2 %>
