<h2 class="page-title"><%= App.model_name.human(count: :many) %></h2>

<div class="card mt-4">
  <div class="card-status-top bg-azure"></div>

  <div class="card-header">
    <div class="w-100 d-flex justify-content-between">
      <div>
      </div>
      <div class="d-flex flex-row gap-2 overflow-y-auto">
        <%= form_with url: apps_path, method: :get, local: true do %>
          <div class="input-icon">
            <span class="input-icon-addon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
            </span>
            <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: t("general.search") %>
          </div>
        <% end %>
        <%= link_to t("general.new"), new_app_path, class: 'btn btn-azure' %>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-vcenter card-table">
      <thead>
      <tr>
        <th><%= App.human_attribute_name(:name) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @apps.each_with_index do |app, index| %>
          <tr>
            <td><%= app.name %></td>
            <td class="text-end">
              <%= link_to t("general.edit"), edit_app_path(app.id), class: "link link-primary#{' disabled' if app.system_app?}"%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @apps, window: 2 %>
