<footer class="footer footer-transparent">
  <div class="container">
    <div class="text-center">
      &copy; <%= Time.current.year %>
      <%= link_to 'ZanoTN', "https://zanotn.space", target: "_blank", rel: "noopener", class: "link-secondary" %>
      • Theme by
      <%= link_to 'Tabler.io', "https://tabler.io", target: "_blank", rel: "noopener", class: "link-secondary" %>
      • Version
      <%= ApplicationVersion.get("image_version") || "unknown" %>
      <% if ApplicationVersionService.is_new_version_available? %>
        (new version available: <%= ApplicationVersion.get("online_image_version") %>)
      <% end %>
    </div>
  </div>
</footer>